@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
  
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  
}
body {
  background-color: #c5c5c5;
  margin:0;
  padding: 0;
  
  
}

.contact-form{
  padding: 15px;
  margin: auto;
}

/*contenedor del formulario*/
.contact-form__container{
  color: #962d2d;
  font-size: 15px;
  background-color:#e2bc9d8c;
  border-radius: 20px;   
  padding: 15px;
  display: grid;
  gap: 10px;
}

.form-intro__title{
  font-size: 2em;
  text-align: center;
  
}

.contact-info__container,
.form ,
.form__section {
  display: grid;
  gap: 4px;
}

.contact-info__info{
 display: flex;
 align-items: center;
 padding: 2px;
 gap: 5px;
} 

.contact-info__info ion-icon{
  font-size: 1.5em;
}

  .contact-info__info p{
    margin:auto;
    margin-left: 0;
  }

  .form-intro__intro{
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  }
  .form__section label {
    font-size: 20px;

  }
  .form__section input {
    border-radius: 7px;
    border: none;
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px; 
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    background-color: #ffffff6c;

  }
  .form__section textarea {
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    background-color: #ffffff6c;
  }

.form__submit{
  width: 100%;
  margin-top: 2%;
  background-color: #962d2d;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  

}
.form__submit:hover{
  box-shadow: 0 0 14px rgb(255, 136, 0);

}


.contact-form__img{
  
  display: flex;
  width:100%;
  justify-content: center;
}
  
.contact-form__img img{
  width: 50%;
  max-height: 200px;
  max-width: 200px;  
  
}


@media (min-width:600px){
  .contact-form{
display: grid;
    padding: 20px;
    max-width: 1024px;
  

  }
  
  /*contenedor del formulario*/
  .contact-form__container{
    color: #962d2d;
    font-size: 15px;
    background-color:#e2bc9d8c;
    border-radius: 20px;   
    padding: 15px;
    display: grid;
    gap: 10px;
  }

  .info-container{
    display: grid;
    
  }
  .form-intro__title{
    font-size: 3em;
    text-align:left;
    
    
  }
  
  
  .contact-info__info{
   display:flex;
   align-items: center;
   padding: 2px;
   gap: 5px;
  } 
  
  .contact-info__info ion-icon{
    font-size: 1.5em;
  }
  
    .contact-info__info p{
      margin:auto;
      margin-left: 0;
    font-size: 1.4em;
    }
  
    .form-intro__intro{
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
  }
  
  
    .form__section label {
      font-size: 20px;
  
    }
    .form__section input {
      border-radius: 7px;
      border: none;
      padding-left:10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 15px; 
      box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
      background-color: #ffffff6c;
  
    }
    .form__section textarea {
      border-radius: 7px;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      resize: none;
      box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
      background-color: #ffffff6c;
    }
  
  .form__submit{
    width: 100%;
    margin-top: 2%;
    background-color: #962d2d;
    font-size: 1.5em;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    
  
  }
  .form__submit:hover{
    box-shadow: 0 0 14px rgb(255, 136, 0);
  
  }
  
  
  .contact-form__img{
    
    display: grid;
    width:100%;
    justify-content:center;
    
  }
    
  .contact-form__img img{
  
display: none;
  }
    

    

}






















