<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*{
  
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  
=======
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
>>>>>>> 9c574ea33c37ca25a377e1e3295c5946c062abfa
}
body {
  background-color: #c5c5c5;
  margin:0;
  padding: 0;
  
  
}
<<<<<<< HEAD

.contact-form{
  padding: 15px;
  margin: auto;
=======
/*Main*/
.contact-form {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
>>>>>>> 9c574ea33c37ca25a377e1e3295c5946c062abfa
}

/*contenedor del formulario*/
<<<<<<< HEAD
.contact-form__container{
  color: #962d2d;
  font-size: 15px;
  background-color:#e2bc9d8c;
  border-radius: 20px;   
  padding: 15px;
  display: grid;
  gap: 10px;
}

.form-intro__title{
  font-size: 2em;
  text-align: center;
  
}

.contact-info__container,
.form ,
.form__section {
  display: grid;
  gap: 4px;
}

.contact-info__info{
 display: flex;
 align-items: center;
 padding: 2px;
 gap: 5px;
} 

.contact-info__info ion-icon{
  font-size: 1.5em;
}

  .contact-info__info p{
    margin:auto;
    margin-left: 0;
  }

  .form-intro__intro{
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  }
  .form__section label {
    font-size: 20px;

  }
  .form__section input {
    border-radius: 7px;
    border: none;
    padding-left:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px; 
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    background-color: #ffffff6c;

  }
  .form__section textarea {
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    background-color: #ffffff6c;
  }

.form__submit{
  width: 100%;
  margin-top: 2%;
  background-color: #962d2d;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  

}
.form__submit:hover{
  box-shadow: 0 0 14px rgb(255, 136, 0);

}


.contact-form__img{
  
  display: flex;
  width:100%;
  justify-content: center;
}
  
.contact-form__img img{
  width: 50%;
  max-height: 200px;
  max-width: 200px;  
  
}


@media (min-width:600px){
  .contact-form{
display: grid;
    padding: 20px;
    max-width: 1024px;
  

  }
  
  /*contenedor del formulario*/
  .contact-form__container{
    color: #962d2d;
    font-size: 15px;
    background-color:#e2bc9d8c;
    border-radius: 20px;   
    padding: 15px;
    display: grid;
    gap: 10px;
  }

  .info-container{
    display: grid;
    
  }
  .form-intro__title{
    font-size: 3em;
    text-align:left;
    
    
  }
  
  
  .contact-info__info{
   display:flex;
   align-items: center;
   padding: 2px;
   gap: 5px;
  } 
  
  .contact-info__info ion-icon{
    font-size: 1.5em;
  }
  
    .contact-info__info p{
      margin:auto;
      margin-left: 0;
    font-size: 1.4em;
    }
  
    .form-intro__intro{
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
  }
  
  
    .form__section label {
      font-size: 20px;
  
    }
    .form__section input {
      border-radius: 7px;
      border: none;
      padding-left:10px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 15px; 
      box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
      background-color: #ffffff6c;
  
    }
    .form__section textarea {
      border-radius: 7px;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      resize: none;
      box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
      background-color: #ffffff6c;
    }
  
  .form__submit{
    width: 100%;
    margin-top: 2%;
    background-color: #962d2d;
    font-size: 1.5em;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    
  
  }
  .form__submit:hover{
    box-shadow: 0 0 14px rgb(255, 136, 0);
  
  }
  
  
  .contact-form__img{
    
    display: grid;
    width:100%;
    justify-content:center;
    
  }
    
  .contact-form__img img{
  
display: none;
  }
    

    

=======
.contact-form__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 40px;
  width: 90%;
  height: 90%;
  background-color: #e2bc9d8c;
  box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
  border-radius: 30px;
}
.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__form {
  width: 100%;
}

/*titulo e intro*/

.form-intro__title {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 10px;
}
.form-intro__intro {
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 15px;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.form__label {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.form__input {
  border: none;
  background: rgb(251, 251, 251);
  padding: 10px;
  border-radius: 20px;
  color: rgb(19, 19, 18);
  resize: none;
  width: 60%;
}

.form__input:focus {
  outline: 5px solid rgb(37, 62, 248);
}

.form__submit {
  background: #8f1a1a;
  display: inline-block;
  text-align: center;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  color: #f2f0f0;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 9px 20px -5px;
}

.form__submit:hover {
  background: #d96685;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info__img {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.contact-info__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.contact-info__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.contact-info__info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}

.contact-info__info ion-icon {
  font-size: 2em;
  margin-right: 10px;
  color: #ffffff;
}
.contact-info__info p {
  color: #ffffff;
>>>>>>> 9c574ea33c37ca25a377e1e3295c5946c062abfa
}

@media only screen and (max-width: 576px) {
  .contact-form {
    width: 100vw;
    height: 200vh;
  }

  .contact-form__container {

    width: 90vw;
    padding: 5px;
    gap: none;
  }
 

  .form__form {
    width: 90vw;
  }

  .form-intro {
    width: 70vw;
    margin-left: -90px;
  }

  .form-intro__intro {
    color: #ffffff;
    margin-bottom: 15px;
    text-align: justify;
  }

<<<<<<< HEAD















=======
  .contact-info {
    width: 90vw;
    align-items: center;
    padding: 20px;
  }
}
>>>>>>> 9c574ea33c37ca25a377e1e3295c5946c062abfa
