@import url('./contacto.css');
@import url('./ofertas.css');
@import url('./productos.css');
@import url('./empresa.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Special Elite', cursive;
*/

body{
    background-color: #c5c5c5;
}
.ofertas{
    height: 100px;
    width: 100%;
    border: 5px solid red;
}

/*--------Header--------------*/

.nav__responsive-ul{
    display: none;
}

.header__nav__menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #222222, #f7f4f4);

}

.header__logo {
    width: 6%;
    padding: 10px 0 10px 0;
    
}


.header__nav__item{
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #d84e4e;
    border-radius: 50px;
    background-color: #422d2d;
    color: #f0f0f0;

}

.header__nav__item a {
    text-decoration: none;
    color: #f0f0f0;
}
.fa-cart-shopping{
    color:#303030;
    font-size: 2rem;
    
}
.search{
    font-family: 'Oswald', sans-serif;
    border: 1px solid #d84e4e;
    border-radius: 50px;
    background-color: #b3afaf;
    color: #202020;
}
    

/*
.header__nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.header__nav__top a{
    color: #202020;
    font-size: 2rem;
    margin-right: 14%;
}

.header__nav__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.header__nav__list {
    list-style: none;
    display: flex;
}

.header__nav__item {
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    border: 1px solid #d84e4e;
    width: auto;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #422d2d;
    color: #f0f0f0;
    margin: 20px;
}

.header__nav__item a {
    text-decoration: none;
    color: #f0f0f0;
}/*
.search {
    
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    border: 1px solid #d84e4e;
    width: auto;
    padding: 10px;
    border-radius: 50px;
    background-color: #b3afaf;
    color: #f0f0f0;
    margin: 20px;
    padding-left: 10px;
}*/

.container-fluid{
    margin: auto;
   
    border: 1px solid gray;
}

#TítuloMain{
    margin-block: 5%;
    font-family: "Oswald" , sans-serif;
    font-size: 3.0rem;
    color: #6b2f2f;
    border: 4px solid #d84e4e;
    border-style: inset;
     text-align: center;
     text-shadow: 40px 40px 40px #f51c1c4d;
     
}

#PárrafosMain{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 40px;
    color: darkred;
    text-align: center;
    padding-bottom: 5px;
    
}

#moto{
    width: 50px;
    height: 50px;
}


#llevar{
    width: 50px;
    height: 50px;
}

#imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgsMain{
width: 700px;
height: 400px;

}

 .CierreMain{
    padding: 15px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    line-height: 15px;
    color: rgb(63, 26, 26)
 }


/*----------------Home---------------------*/


/*----------------Footer-------------------*/

.footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #222222, #f7f4f4);

}

.footer_list_item{
    display: inline-block;
    color: #f0f0f0;
    margin: 10px 15px;

}

.footer_list_item a{
    color:#f0f0f0;
}

.nav__responsive-button-container {
    position: absolute;
    width: 100%;
    font-size: 30px;

  


   }
   .nav__responsive-button {
    color: #fff;
    width: 100%;
    padding: 20px 0px;
    
    }

/*-------------diseño responsive--------------*/

@media only screen and (max-width: 700px) {
    .header__nav__list{
        display: none;
    }
    .header__logo{
        display: none;
    }

    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;

    }

    .nav__li-container {
    position: relative;
    top: 2000px;
    height: calc(100vh - 50px);
    transition: 0.8s;
    width: 40%;
   }
   .nav__responsive-li {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #d84e4e;
    border-radius: 50px;
    background-color: #422d2d;
    color: #f0f0f0;
   }
   

   .nav__responsive-li a {
    color: #f0f0f0;
    text-decoration: none;
   } 

   .nav__responsive-ul:hover > .nav__li-container {
    top:60px;

   } 
  
}