@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Special Elite', cursive;
*/
.header {
    display: flex;
    
}

.header__logo {
    width: 5%;
    height: auto;
}

.header__nav {

}

.header__nav__list {

}

.header__nav__list__item {

}

.header__nav__sublist {
    
}