@import url('./contacto.css');
@import url('./ofertas.css');
@import url('./productos.css');
@import url('./empresa.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');
/*
font-family: 'Oswald', sans-serif;
font-family: 'Special Elite', cursive;
*/

body{
    background-color: #c5c5c5;
}


/*--------Header--------------*/
.header, .footer {
    background: linear-gradient(to right, #222222, #f7f4f4);

}

.header__logo {
    width: 8%;
    margin-left: 6%;
}
.header__nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.header__nav__top a{
    color: #202020;
    font-size: 3rem;
    margin-right: 14%;
}

.header__nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.header__nav__list {
    list-style: none;
    display: flex;
}

.header__nav__item {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    border: 1px solid #d84e4e;
    width: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background-color: #422d2d;
    color: #f0f0f0;
    margin: 20px;
}

.header__nav__item a {
    text-decoration: none;
    color: #f0f0f0;
}
.search {
    
    font-family: 'Oswald', sans-serif;
    font-size: 1.7rem;
    border: 1px solid #d84e4e;
    width: 350px;
    padding: 10px;
    border-radius: 50px;
    background-color: #b3afaf;
    color: #f0f0f0;
    margin: 20px;
    padding-left: 10px;
}

/*----------------Home---------------------*/


.container-fluid{
}

#TítuloMain{
    margin-block: 5%;
    font-family: "Oswald" , sans-serif;
    font-size: 3.0rem;
    color: #6b2f2f;
    border: 4px solid #d84e4e;
    border-style: inset;
     text-align: center;
     text-shadow: 40px 40px 40px #f51c1c4d;
     
}

#PárrafosMain{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 40px;
    color: darkred;
    text-align: center;
    padding-bottom: 5px;
    
}

#moto{
    width: 50px;
    height: 50px;
}


#llevar{
    width: 50px;
    height: 50px;
}

#imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgsMain{
width: 700px;
height: 400px;
}

 .CierreMain{
    padding: 15px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    line-height: 15px;
    color: rgb(63, 26, 26)
 }




/*----------------Footer-------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
nav{
    color: #f0f0f0;

}
